<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org">
<style>
    #book {
        color: #203b75;
        text-shadow: 1px 1px 1px #ccc;
        font-size: 2em;
    }
</style>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
            integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>List Books</title>
</head>

<body>
<div class="panel panel-default">
<h2>Welcome To Home Page</h2>
</div>
<section>
    <div class="row">
        <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box style=blue;">
                <a href="/library/"> &nbsp<i id="book" class="fas fa-book"></i></a>
                <p class="description">Kitap çevrimiçi bir servistir. macOS, Linux veya Windows işletim sistemleri üzerindeki herhangi bir modern tarayıcıda çalışır. Kurulum gerekmez. Kayıt olup hemen kullanmaya başlayabilirsin. <br/><br/><br/></p>
            </div>
        </div>
    </div>

</section>
</body>
</html>